body{
    padding: 0;
    margin: 0;
    background: linear-gradient(257deg, #990000, rgba(0, 0, 0, 1));
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
  }
  
  /* Rezerva B-image (smoke)
  background-image: url("https://cdn.mos.cms.futurecdn.net/MAVm4QDfuS8poyvfWKKCVN-1200-80.jpg");*/
  
  header{
    position: fixed;
    z-index: 1;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #f2f2f2;
    width: 100%;
    
  }
  
  #nav-bar{
    width: 100%;
    max-width: 45%;
    height: 5rem;
    background-color: #990000;
  
  }
  
  
  img{
    margin: auto;
    width: 3rem;
    height: 3rem;
  }
  
  #logo{
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
  
    
  }
  
  ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    list-style: none;
    padding-top: 1rem;
  }
  
  .nav-link{
    text-decoration: none;
    color: rgba(255,255,255,0.6);
    font-weight: bold;
    margin: 1px;
    padding: 0.5rem;
    
  }
  
  a:hover{
    color: #f2f2f2;
    padding: -1;
    border-bottom: 2px solid white;
  }
  
  h1{
    font-family: Nosifer, sans-serif;
    font-size: 1.5rem;
    color: #990000;
  }
  
  main{
    text-align: center;
    padding-bottom: 10rem;
  }
  
  form{
    display: inline-block;
    margin-top: 15rem;
    font-family: sans-serif;
    font-size: 1rem;
    background-color: #f2f2f2;
    color: #1a1a1a;
    padding: 3rem;
    border-radius: 0.5rem;
    max-width: 30rem;
  }
  
  
  form input[type='email']{
    margin-top: -1rem;
    width: 70%;
    height: 2rem;
  }
  
  .submit{
    width: 30%;
    height: 2rem;
    margin-top: 1rem;
    border-style: none;
    background-color: #990000;
    color: #f2f2f290;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .submit:hover{
    color: white;
  }
  
  
  .section{
    background-color: rgba(255,255,255, 0.8);
    margin-top: 2rem;
    padding: 1rem 1rem 2rem 1rem; 
    
  }
  
  .subtitle{
    margin: -1rem -1rem 2rem -1rem;;
    border-bottom: 1px solid #1a1a1a50;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    background-color: white;
     
  }
  
  h3{
    color: #990000;
    font-family: Nosifer;
    font-size: 1.5rem;
  }
  
  .text{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  
  #video{
    width: 100%;
    max-width: 900px;
    margin: 1rem auto 2rem auto;
    height: 30rem;
    border: 0;
  }
  
  .highlight{
    color: #990000;
  }
  
  
  .movie{
    width: 100%;
    max-width: 15rem;
    height: 25rem;
    border: 1.5rem solid white;
    padding: 0 0.5rem 1rem 0.5rem;
    margin-top: 3rem;
  }
  
  .movies{
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 3rem
  }
  
  .movie{
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 1rem;
    overflow: hidden;
    height: 30rem;
    cursor: pointer;
  
  }
  
  
  .movie-info{
    background-color: white;
    margin-top: 0;
    width: 100%;
    height: 8rem;
    max-height: 8rem;
    min-height: 150px;
    color: #990000;
    overflow: hidden;
    font-size: 1.5rem;
  }
  
  .description{
    opacity: 0;
    font-size: 0.9rem;
  }
  
  .description:hover{
    opacity: 1;
  }
  
  .arrow{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.6;
  
  }
  
  .buy{
    margin-top: auto;
    
  }
  
  
  #cover-smile{
    background-image: url('https://www.pluggedin.com/wp-content/uploads/2022/09/Smile.jpg');
    height: 12rem;
    padding-bottom: 1rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    border-top: 0.5rem solid black;
    border-bottom: 0.5rem solid black;
  }
  
  #cover-smile:hover{
    background: linear-gradient(257deg, #99000090, rgba(0, 0, 0, 0.5)), url('https://www.pluggedin.com/wp-content/uploads/2022/09/Smile.jpg');
    padding-bottom: 1rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    color: #f2f2f2;
    text-align: left; 
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }
  
  #cover-shining{
    background-image: url('https://i.guim.co.uk/img/media/68a5a828e8ebf46df1b62fcb3f09ab78dcfbc33f/12_0_3440_2064/master/3440.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=bb24447c29573d2dcb7942acae72c56a');
    height: 12rem;
    padding-bottom: 1rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    border-top: 0.5rem solid black;
    border-bottom: 0.5rem solid black;
  }
  
  #cover-shining:hover{
    background: linear-gradient(257deg, #99000090, rgba(0, 0, 0, 0.5)), url('https://i.guim.co.uk/img/media/68a5a828e8ebf46df1b62fcb3f09ab78dcfbc33f/12_0_3440_2064/master/3440.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=bb24447c29573d2dcb7942acae72c56a');
    padding-bottom: 1rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    color: #f2f2f2;
    text-align: left; 
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }
  
  #cover-it{
    background-image: url(https://m.media-amazon.com/images/M/MV5BZDVkZmI0YzAtNzdjYi00ZjhhLWE1ODEtMWMzMWMzNDA0NmQ4XkEyXkFqcGdeQXVyNzYzODM3Mzg@._V1_FMjpg_UX1000_.jpg);
    padding-bottom: 1rem;
    background-size: 100% 100%;
    height: 12rem;
    background-repeat: no-repeat;
    border-radius: 5px;
    border-top: 0.5rem solid black;
    border-bottom: 0.5rem solid black;
  }
  
  #cover-it:hover{
    background: linear-gradient(257deg, #99000090, rgba(0, 0, 0, 0.5)), url('https://m.media-amazon.com/images/M/MV5BZDVkZmI0YzAtNzdjYi00ZjhhLWE1ODEtMWMzMWMzNDA0NmQ4XkEyXkFqcGdeQXVyNzYzODM3Mzg@._V1_FMjpg_UX1000_.jpg');
    padding-bottom: 1rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    color: #f2f2f2;
    text-align: left; 
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }
  
  
  .button{
    background: #990000;
    height: 100%;
    max-height: 4rem;
    color: #f2f2f2;
    font-size: 1.5rem;
    width: 10rem;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 1rem;
    border-style: none;
  
  }
  
  .button:hover{
    background: red;
    color: white;
  }
  
  .buy{
    background-color: white;
    height: 25%;
    
  }
  
  
  footer{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #990000, rgba(0, 0, 0, 0.4));
    height: 10rem;
    margin-top: -10rem;
  }
  
  #credit{
    text-align: center;
    color: #f2f2f2;
    margin: auto;
  }
  
  @media only screen and (max-width: 900px){
  
    header{
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  
  
    #nav-bar{
      max-width: 100%;
    }
  
    .movies{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .movie{
      margin-left: auto;
      margin-right: auto;
      max-width: 18rem;
    }
  
      #video{
        max-width: 80%;
        height: 50%;
    }
  }
  
  
  @media only screen and (max-width: 500px){
  
  
    #logo{
      width: 50%;
      margin: auto;
    }
  
    #logo img{
      height: 5rem;
    }
  
    #nav-bar{
      height: 100%;
      padding-bottom: 1rem;
      
  
    }
  
    form{
      max-width: 50%;
      margin-top: 30rem;;
    }
  
    ul{
      display: flex;
      flex-direction: column;
      vertical-align: middle;
      margin-right: 2rem;
    }
  
    .movies{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .movie{
      margin-left: auto;
      margin-right: auto;
      max-width: 18rem;
    }
  
      #video{
        max-width: 80%;
        max-height: 20rem;
    }
  }
  
  